/* ! ===============   Tailwind CSS   =============== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! ===============   Main Styles(Base)   =============== */
@layer base {
  :root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
  }

  body {
    @apply bg-gray-50 
      text-gray-900 
      dark:bg-black 
      dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: 0;
  }
  
  .show {
    background: red;
  color: white;
  }

  ol,
  p,
  ul {
    margin-bottom: 1rem;
  }

  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .max-height-none {
    max-height: none;
  }

  a {
    position: relative;
    color: var(--color-accent);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    transition-duration: 0.2s;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }
}


/* ! ===============   Main Styles   =============== */
* {
  --tw-shadow: 0 0 transparent;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

body {
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
